<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutSite.css" rel="stylesheet" />
    <link href="~/Public/css/MainStyle.css" rel="stylesheet" />
    <title>Tech-link maintenance</title>
    @RenderSection("header", required: false)
</head>
<body>

    <header>
        <input type="checkbox">
        <div class="menu-icon">
            <div class="menu-line">

            </div>
        </div>
        <div class="menu-item">
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Về chúng tôi</a></li>
            <li><a href="">Hệ thống</a></li>
            <li><a href="">Liên hệ</a></li>
        </div>
        <div class="header-text">
            <h1>Tech-link Maintenance</h1>
        </div>
    </header>
    <section>
        @RenderBody()
        
    </section>
    
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("footer", required: false)
</body>
</html>
