
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="content-menu row">
    <a class="content-menu-item" href=" @Url.Action("PCCC", "Site")">
        <img src="~/Public/images/pccc.png" alt="">
        <h1>Fire Equipments</h1>
        <p class="text-black">消防设备维护保养</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/uniform.png" alt="">
        <h1>Uniform</h1>
        <p class="text-black">管理制服</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p class="text-black">Đang phát triển</p>
    </a>
    <div class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p class="text-black">Đang phát triển</p>
    </div>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p class="text-black">Đang phát triển</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p class="text-black">Đang phát triển</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p class="text-black">Đang phát triển</p>
    </a>

</div>
