
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="content-menu row">
    <div class="content-menu-item">
        <img src="~/Public/images/pccc.png" alt="">
        <h1>Fire Equipments</h1>
        <p>Bảo trì thiết bị chữa cháy</p>
    </div>
    <div class="content-menu-item">
        <img src="~/Public/images/uniform.png" alt="">
        <h1>Uniform</h1>
        <p>Quản lý đồng phục</p>
    </div>
</div>
