
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="content-menu row">
    <div class="content-menu-item" >
        <a href=" @Url.Action("PCCC", "Site")">
            <img src="~/Public/images/pccc.png" alt="">
            <h1>Fire Equipments</h1>
            <p>Bảo trì thiết bị chữa cháy</p>
        </a>
    </div>
    <a class="content-menu-item">
        <img src="~/Public/images/uniform.png" alt="">
        <h1>Uniform</h1>
        <p>Quản lý đồng phục</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p>Đang phát triển</p>
    </a>
    <div class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p>Đang phát triển</p>
    </div>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p>Đang phát triển</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p>Đang phát triển</p>
    </a>
    <a class="content-menu-item">
        <img src="~/Public/images/growth.png" alt="">
        <h1>Underdeveloped</h1>
        <p>Đang phát triển</p>
    </a>

</div>
